.cap2{
    margin-bottom: 150px;
}

.cap1{
    margin-bottom: 300px;
}

.cap3{
    margin-bottom: 130px;
}
.para{
    margin-top: 100px;
}
video
{
   margin-left: 340px; 
   
}
.para1{
    margin-top: 100px;
    text-align: center;
}
.para2{
    margin-top: 60px ;
}
.txt{
    margin-top: 50px;
}